 		<div class="row" id="row<%= id %>">
            <!-- first span -->
            <div class="span6">
                <h2>Chambre <%= id %></h2>
 
                <div class="row-fluid">
					<div class="span12">
		
             		   <form class="form-horizontal">
               		   <div class="control-group">
                  		  <label class="control-label" for="inputPrice">Prix *</label>
                  			  <div class="controls">
                    		  <input type="text" name="prixParJour<%= id %>" id="inputPrice<%= id %>" value="<%= prixParJour %>" placeholder="Prix">
                   	 		</div>
                 		 </div>
    
          			 <!-- Lits-->
               		 <div class="row-fluid">
						<div class="span6"> 		
			                <div class="control-group">
			                  <label class="control-label" for="litSimple">Lits Simples</label>
			                  	<div class="controls">					               		
			                  		<input class="input-mini" id="litSimple<%= id%>" value="<%= litSimple%>">
			                  	</div> 
			                  </div>                      
			                <div class="control-group">
			                  <label class="control-label" for="litSimple">Lits Doubles</label>
			                  	<div class="controls">
			                  		<input class="input-mini" id="litDouble<%= id%>" value="<%= litDouble%>">
			                  	</div>
			                  </div>
			                <div class="control-group">
			                  <label class="control-label" for="litSimple">Lits Jumeaux</label>
			                  	<div class="controls">
			                  		<input class="input-mini" id="litJumeau<%= id%>" value="<%= litJumeau%>">
			                  	</div>	
			                  </div>
			               	</div> <!-- /span6-->
			               	
			             <!-- Checkboxes-->
			         	<div class="row-fluid">
						<div class="span6"> 
                 			 <div class="control-group">  
                  			  <div class="controls">
                  			  	<div class="row-fluid">
								<div class="span4">         
		   						  <label class="checkbox inline">	
		   						  <input id="tele<%= id %>" name="tele<%= id %>" type="checkbox" <%= tele ? 'checked' : '' %>/>	Television </label>
		   						  </div>
		   						 </div>
		   						 <div class="row-fluid">
								<div class="span4"> 
		   						  <label class="checkbox inline">	
		  						  <input id="internet<%= id %>" name="internet<%= id %>" type="checkbox" <%= internet ? 'checked' : '' %>/>	Internet </label> 
		  						  </div>
		   						 </div>
		   						 <div class="row-fluid">
								<div class="span4"> 
		  						  <label class="checkbox inline">
		  						  <input id="baignoire<%= id %>" name="baignoire<%= id %>" type="checkbox" <%= baignoire ? 'checked' : '' %>/> Baignoire </label>
		  						   </div>
		   						 </div>
		  						  <label class="checkbox inline">					 					
								  <input id="douche<%= id %>" name="douche<%= id %>" type="checkbox" <%= douche ? 'checked' : '' %>/>Douche </label>	
			                  </div>
			                  </div> <!-- span6-->
			                 </div><!-- rowFluid-->
		 
                   
                   <a class="btn btn-danger" id="<%= id %>" data-id="<%= id %>" ><i class="icon-trash icon-white"></i> Delete</a>
                 </form>
               </div>
             </div>
           </div> 
          </div> 
