 <div class="row">
            <!-- first span -->
              <div class="span6">
                <h2>Chambre <%= id %></h2>
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label" for="inputPrice">Prix</label>
                    <div class="controls">
                      <input type="text" name="inputPrice" id="inputPrice<%= id %>" value="<%= prixParJour %>" placeholder="Prix">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputNbPerson">Nombre de personnes</label>
                    <div class="controls">
                      <input type="text" name="inputNbPerson" id="inputNbPerson<%= id %>" value="<%= nbLit %>" placeholder="Nombre de personnes">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputArea">Superficie</label>
                    <div class="controls">
                      <input type="text" name="inputArea" id="inputArea<%= id %>" value="<%= superficie %>" placeholder="Superficie">
                    </div>
                  </div>
                 </form>
               </div>
               
<hr/>
