 <!-- Example row of columns -->
 <div align="center">
	<div class="hero-unit">
		<h3>Veuillez indiquer combien de chambre vous possédez</h3>
		
		
		    <div class="btn-group">
    			<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
   					 Nombre de chambre
    			<span class="caret"></span>
    			</a>
    			<ul class="dropdown-menu">
    				<li>
 						<a href="#">1</a>
 					</li>
 					<li>
 						<a href="#">2</a>
 					</li>
 					<li>
 						<a href="#">3</a>
 					</li>
 					<li>
 						<a href="#">4</a>
 					</li>
 					<li>
 						<a href="#">5</a>
 					</li>
    			</ul>
    		</div>
    	</div>
 	</div>
		
 			<hr>

            <div class="row">
            <!-- first span -->
              <div class="span6">
                <h2>Chambre 1</h2>
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label" for="inputPrice1">Prix</label>
                    <div class="controls">
                      <input type="text" id="inputPrice1" placeholder="Prix">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputNbPerson1">Nombre de personnes</label>
                    <div class="controls">
                      <input type="text" id="inputNbPerson1" placeholder="Nombre de personnes">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputArea1">Superficie</label>
                    <div class="controls">
                      <input type="text" id="inputArea1" placeholder="Superficie">
                    </div>
                  </div>
                 </form>
               </div>
               
               
              <!-- 
             <div class="span6">
                <h2>Chambre 2</h2>
                  <form class="form-horizontal">
                    <div class="control-group">
                      <label class="control-label" for="inputPrice2">Prix</label>
                      <div class="controls">
                        <input type="text" id="inputPrice2" placeholder="Prix">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="inputNbPerson2">Nombre de personnes</label>
                      <div class="controls">
                        <input type="text" id="inputNbPerson2" placeholder="Nombre de personnes">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="inputArea2">Superficie</label>
                      <div class="controls">
                        <input type="text" id="inputArea2" placeholder="Superficie">
                      </div>
                    </div>
             </form>
               </div>
            </div>
      
            
            <hr>
                        
            <div class="row">
      
             <div class="span6">
                <h2>Chambre 3</h2>
                  <form class="form-horizontal">
                    <div class="control-group">
                      <label class="control-label" for="inputPrice3">Prix</label>
                      <div class="controls">
                        <input type="text" id="inputPrice3" placeholder="Prix">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="inputNbPerson3">Nombre de personnes</label>
                      <div class="controls">
                        <input type="text" id="inputNbPerson3" placeholder="Nombre de personnes">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="inputArea3">Superficie</label>
                      <div class="controls">
                        <input type="text" id="inputArea3" placeholder="Superficie">
                      </div>
                    </div>
             </form>
               </div>
   
              <div class="span6">
                <h2>Chambre 4</h2>
                  <form class="form-horizontal">
                    <div class="control-group">
                      <label class="control-label" for="inputPrice4">Prix</label>
                      <div class="controls">
                        <input type="text" id="inputPrice4" placeholder="Prix">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="inputNbPerson4">Nombre de personnes</label>
                      <div class="controls">
                        <input type="text" id="inputNbPerson4" placeholder="Nombre de personnes">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="inputArea4">Superficie</label>
                      <div class="controls">
                        <input type="text" id="inputArea4" placeholder="Superficie">
                      </div>
                    </div>
             </form>
               </div>
            </div>
            
            <hr/>
            
            <div class="row">
   
             <div class="span6">
                <h2>Chambre 5</h2>
                  <form class="form-horizontal">
                    <div class="control-group">
                      <label class="control-label" for="inputPrice5">Prix</label>
                      <div class="controls">
                        <input type="text" id="inputPrice5" placeholder="Prix">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="inputNbPerson5">Nombre de personnes</label>
                      <div class="controls">
                        <input type="text" id="inputNbPerson5" placeholder="Nombre de personnes">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="inputArea5">Superficie</label>
                      <div class="controls">
                        <input type="text" id="inputArea5" placeholder="Superficie">
                      </div>
                    </div>
             </form>
               </div>
            </div>
            
            -->
            <hr/>
            
            <div class="row">
              <button type="submit" class="btn">Enregistrer</button>
            </div>