 			  <style>
 			  	.hero-unit {
 			  		padding: 40px;
 			  		height: 450px;
 			  	}
 			  </style>
 			  
 			  
 			  <div class="span6">
 			  	<div class="hero-unit" align="center">
                	<h2 id="welcome">Bienvenue !</h2>
                	<p id="welcomeMsg">Bienvenue sur My Guest House, vous pouvez d&egraves &agrave pr&eacutesent g&eacuterer votre maison d'h&ocircte en toute simplicit&eacute. Vous n'avez plus qu'&agrave vous connecter !</p>
 			  		<img src="css/img/img_page_connexion.jpg" height=300 width=300/>
 			  	</div>
 			  </div>
 			  <div class="span5">  
 			  	<div class="hero-unit" align="center">
			 	    <h4 id="connexionMsg">Pour vous connecter, cliquez sur un des icônes ci-dessous !</h4>
			 	  	<br />
			 	  	<p><button class="btn" id="google" href=""><img src="css/img/google_drive.png" width="150" height="150"/></button> 
                    <!-- <p><input type="image" src="css/img/google_drive.png" style="height: 100px" id="google" href="#"/> -->
                    <br /><br />
                    <p><button class="btn" id="dropbox" href=""><img src="css/img/dropbox-logo.png" width="130" height="120"/></button> 
                </div>
              </div>
			
