 			<div class="hero-unit">
              <h2>Bienvenue !</h2>
              <p>Bienvenue sur My Guest House, vous pouvez d&egraves &agrave pr&eacutesent g&eacuterer votre maison d'h&ocircte en toute simplicit&eacute. Vous n'avez plus qu'&agrave vous connecter !
 			</div>
            <!--<form class="form-signin">
            	<h2 class="form-signin-heading">Please sign in</h2>
                  <select>
				    <option>Google Drive</option>
				  	<option>Dropbox</option>
			      </select>
                  <input class="input-block-level" type="text" placeholder="Login">
                  <input class="input-block-level" type="password" placeholder="Password">
                  <button type="submit" class="btn">Sign in</button>
            </form>-->
            <div align="center">
			 <div class="hero-unit">
			 	<p>Pour vous connecter, cliquez sur un des icônes ci-dessous !</p>
               <p><input type="image" src="css/img/google_drive.png" style="height: 100px" id="google" href="#"/>
               <p><input type="image" src="css/img/dropbox-logo.jpeg" style="height: 100px" id="dropbox" href="#"/>
            </div>
            </div>