 			  <div class="span6">
 			  	<div class="hero-unit">
                	<h2>Bienvenue !</h2>
                	<p>Bienvenue sur My Guest House, vous pouvez d&egraves &agrave pr&eacutesent g&eacuterer votre maison d'h&ocircte en toute simplicit&eacute. Vous n'avez plus qu'&agrave vous connecter !
 			  		<br />
 			  		<br />
 			  		<img src="css/img/img_page_connexion.jpg" height=300 width=300/>
 			  	</div>
 			  </div>
 			  <div class="span5">  
 			  	<div class="hero-unit">
			 	  <p>Pour vous connecter, cliquez sur un des icônes ci-dessous !</p>
			 	  <div align="center">
                    <p><input type="image" src="css/img/google_drive.png" style="height: 100px" id="google" href="#"/>
                    <p><input type="image" src="css/img/dropbox-logo.jpeg" style="height: 100px" id="dropbox" href="#"/>
                  </div>
                </div>
              </div>
			
