	<div class="tabbable tabs-left">
	<!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Client 1: SENE</a></li>
    <li><a href="#tab2" data-toggle="tab">Client 2: GUERIN</a></li>
	<li><a href="#tab3" data-toggle="tab">Client 3: GUACHET</a></li>
	<li><a href="#tab4" data-toggle="tab">Client 4: BERGER</a></li>
	<li><a href="#tab5" data-toggle="tab">Client 5: ROG</a></li>
	<li><a href="#tab6" data-toggle="tab">Client 6: FARHAT</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <table class="table table-bordered">	    
    <thead>
    <tr>
    <th>Chambre(s)</th>
    <th>Prix</th>
    </tr>
    </thead>
    <tbody>
	<!-- N fois ces lignes-->
	<!-- début -->
    <tr>
    <td>1</td>
    <td>$ 10,00</td>
    </tr>
	<!-- fin -->
	<tr>
	<td>2</td>
    <td>$ 60,00</td>
	</tr>
	<tr>
	<td>3</td>
    <td>$ 80,00</td>
	</tr>
	<tr>
	<td>4</td>
    <td>$ 20,00</td>
	</tr>
	 <tr>
    <th>Prestation(s)</th>
    <th>Prix</th>
    </tr>
	  <tr>
    <td>Télévision</td>
    <td>$ 10,00</td>
    </tr>
	 <tr>
    <td>Internet</td>
    <td>$ 10,00</td>
    </tr>
	 <tr>
    <td>Baignoire</td>
    <td>$ 10,00</td>
    </tr>
	 <tr>
    <td>Douche</td>
    <td>$ 10,00</td>
    </tr>	
	
	 <tr>
    <th>15% TVA</th>
    <th>$ 156,00</th>
    </tr>
	 <tr>
    <th>Total</th>
    <th>457,00</th>
    </tr>
	 <tr>
    <td>Arrhes</td>
    <td>$ 50,00</td>
    </tr>
	 <th>Somme à Payer</th>
    <th>407,00</th>
    </tr>
	
<!-- fin fin fin  -->
    </tbody>
    </table>
    </div>
	<!-- ************************  -->
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
	<!-- ************************  -->
	<div class="tab-pane" id="tab3">
      <p>Howdy, I'm in Section 3.</p>
    </div>
	<!-- ************************  -->	
     <div class="tab-pane" id="tab4">
      <p>Howdy, I'm in Section 4.</p>
    </div>
	<!-- ************************  -->
	<div class="tab-pane" id="tab5">
      <p>Howdy, I'm in Section 5.</p>
    </div>
	<!-- ************************  -->
	  <div class="tab-pane" id="tab6">
      <p>Howdy, I'm in Section 6.</p>
    </div>
	
  </div>
</div>