<div align="center">
  <div class="hero-unit">
	<h1>Fiche séjour</h1>
	<hr/>
	<h3><b><u>Informations client</u></b></h3>
	<div class="row">
	<div class="span9 offset2">
	<form class="form-horizontal">
      <div class="control-group">
      	<div class="span6">
        	<label class="control-label" for="lastName">Nom :</label>
        	<input type="text" name="lastName" id="lastName" value="<%= lastName %>" disabled="disabled">
        </div>
      </div>
      <div class="control-group">
      	<div class="span6">
        	<label class="control-label" for="firstName">Prenom :</label>
        	<input type="text" name="firstName" id="firstName" value="<%= firstName %>" disabled="disabled">
        </div>
      </div>
      <div class="control-group">
      	<div class="span6">
       		<label class="control-label" for="phone">Numéro de téléphone :</label>
       		<input type="text" name="phone" id="phone" value="<%= phone %>" disabled="disabled">
        </div>
      </div>
      <div class="control-group">
      	<div class="span6">
        	<label class="control-label" for="address">Adresse :</label>
        	<input type="text" name="address" id="address" value="<%= address %>" disabled="disabled">
        </div>
      </div>
      <div class="control-group">
      	<div class="span6">
        	<label class="control-label" for="postcode">Code Postal :</label>
        	<input type="text" name="postcode" id="postcode" value="<%= postcode %>" disabled="disabled">
        </div>
      </div>
      <div class="control-group">
      	<div class="span6">
        	<label class="control-label" for="city">Ville :</label>
        	<input type="text" name="city" id="city" value="<%= city %>" disabled="disabled">
        </div>
      </div>
      <div class="control-group">
      	<div class="span6">
        	<label class="control-label" for="email">Mail :</label>
       		<input type="text" name="email" id="email" value="<%= email %>" disabled="disabled">
        </div>
      </div>
	</form>
	</div>
	</div>
	<hr/>
	
	<h3><b><u>Informations chambres réservées</u></b></h3>
	<div class="row">
		<div id="rooms"></div>
		<div> 
			<hr/>
		</div>
		<div id="arrhes"></div>
	</div>
	<hr/>
	
	<h3><b><u>Informations prestations</u></b></h3>
	<div id="prestations"></div>
	
	<hr/>

      <div class="row">
      	<div>
        	<label class="control-label" for="totalPrice"><h3>Total :</h3></label>
        	<input type="text" name="totalPrice" id="totalPrice" disabled="disabled" >
        </div>
        <div>
        	<label class="control-label" for="remainingPrice"><h3>Reste &agrave; payer :</h3></label>
        	<input type="text" name="remainingPrice" id="remainingPrice" disabled="disabled" >
        </div>
      </div>
	
	
  </div>
</div>
<!--
 <div class='span4 offset4' align='center'>
		<button type='submit' id='submit' class='btn btn-success'>Sauvegarder</button>
 </div>
-->
	