<div align="center">
  <div class="hero-unit">
	<h1>Fiche séjour</h1>
	<hr/>
	<h3><b><u>Informations client</u></b></h3>
	<form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="labelName">Nom :</label>
        <label class="control-label" for="name"> </label>
      </div>
      <div class="control-group">
        <label class="control-label" for="labelPhoneNumber">Numéro de téléphone :</label>
        <label class="control-label" for="phoneNumber"> </label>
      </div>
      <div class="control-group">
        <label class="control-label" for="labelAddress">Adresse :</label>
        <label class="control-label" for="address">1 rue ..</label>
      </div>
	</form>
	
	<hr/>
	
	<h3><b><u>Informations chambres réservées</u></b></h3>
	<form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="labelRoom">Chambre 1 :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
	  <div class="control-group">
        <label class="control-label" for="labelRoom">Chambre 2 :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
      <div class="control-group">
        <label class="control-label" for="labelRoom">Chambre 3 :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
      <div class="control-group">
        <label class="control-label" for="multiply">Sous-total chambres :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
	</form>
	
	<hr/>
	
	<h3><b><u>Informations prestations</u></b></h3>
	<form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="labelRoom">Prestation 1 :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
      <div class="control-group">
        <label class="control-label" for="labelRoom">Prestation 2 :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
      <div class="control-group">
        <label class="control-label" for="multiply">Sous-total prestation :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
	</form>
	
	<hr/>
	<form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="labelRoom"><b>Total :</b></label>
        <label class="control-label" for="multiply">prix</label>
      </div>
	</form>
  </div>
</div>
	