	<h2>Fiche séjour</h2>
	<hr/>
	<h4><b><u>Informations client</u></b></h4>
	<form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="labelName">Nom :</label>
        <label class="control-label" for="name"/>
      </div>
      <div class="control-group">
        <label class="control-label" for="labelPhoneNumber">Numéro de téléphone :</label>
        <label class="control-label" for="phoneNumber"/>
      </div>
      <div class="control-group">
        <label class="control-label" for="labelAddress">Adresse :</label>
        <label class="control-label" for="address">1 rue </label>
      </div>
	</form>
	
	<hr/>
	
	<h4><b><u>Informations chambres réservées</u></b></h4>
	<form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="labelRoom">Chambre 1 :</label>
        <label class="control-label" for="nbPerson">nb personne</label>
        <label class="control-label" for="multiply">x</label>
        <label class="control-label" for="multiply">Prix total :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
	  <div class="control-group">
        <label class="control-label" for="labelRoom">Chambre 2 :</label>
        <label class="control-label" for="nbPerson">nb personne</label>
        <label class="control-label" for="multiply">x</label>
        <label class="control-label" for="multiply">Prix total :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
      <div class="control-group">
        <label class="control-label" for="labelRoom">Chambre 3 :</label>
        <label class="control-label" for="nbPerson">nb personne</label>
        <label class="control-label" for="multiply">x</label>
        <label class="control-label" for="multiply">Prix total :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
      <div class="control-group">
        <label class="control-label" for="multiply">Sous-total prix chambres :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
	</form>
	
	<hr/>
	
	<h4><b><u>Informations prestations</u></b></h4>
	<form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="labelRoom">Prestation 1 :</label>
        <label class="control-label" for="multiply">Prix :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
      <div class="control-group">
        <label class="control-label" for="labelRoom">Prestation 2 :</label>
        <label class="control-label" for="multiply">Prix :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
      <div class="control-group">
        <label class="control-label" for="multiply">Sous-total prix chambres :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
	</form>
	
	<hr/>
	<form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="labelRoom">Total :</label>
        <label class="control-label" for="multiply">prix</label>
      </div>
	</form>
	