<style>
	.dropdown-menu {
		min-width : 60px;
	}
	.btn-toolbar {
  		margin-top: 0px;
  		margin-bottom: 0px;
  	}
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#resa" id="nameAppli"><i class="icon-home icon-white"></i> MyGuestHouse</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a id="room" href="#chambre">Chambres</a></li>
                            <li><a id="service" href="#prestation">Prestations</a></li>
                            <!-- <li><a id="listCustomer" href="#listCustomer">Annuaire client</a></li> -->
                        </ul>
                        
                        <div class="btn-toolbar pull-right">
                                                  						
                          <!--  
                          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="fr" data-count="none" data-text="Super tweet !" data-url="_">aaaa</a>
						      <ul class="dropdown-menu">
							    <li>
	 					            <a id="facebook" onclick="alert('fb');" href="#"><img src="css/img/flagFR.gif" width="20" height="13" border="0"/>aaaaaa</a>
	 				              </li>
	 				              <li>
	 					            <a id="twitter" onclick="alert('twitter');" href="#"><img src="css/img/flagEN.gif" width="20" height="13" border="0"/>aaaaaaa</a>
	 				              </li>
				            </ul>-->
				         
				         <div class="btn-group">					    
						    <a id="share" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Partager</a>
					        <ul class="dropdown-menu">
    				          <li>
 					            <a id="facebook" onclick="facebookLogin();" href="#"><img src="css/img/facebook-logo.gif" width="20" height="13" border="0"/></a>
 				              </li>
 				              <li> 					           
                                  <a href="https://twitter.com/intent/tweet?text="><img src="/css/img/twitter-logo.gif" alt="Tweet" width="20" height="13" border="0"/></a>
                              </li>
				            </ul>
				          </div>
                          
                          <div class="btn-group">					    
						    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><img src="css/img/flagFR.gif" width="20" height="13" border="0"/></a>
					        <ul class="dropdown-menu">
    				          <li>
 					            <a id="fr" onclick="buttonLanguage('fr');" href="#"><img src="css/img/flagFR.gif" width="20" height="13" border="0"/></a>
 				              </li>
 				              <li>
 					            <a id="en" onclick="buttonLanguage('en');" href="#"><img src="css/img/flagEN.gif" width="20" height="13" border="0"/></a>
 				              </li>
				            </ul>
				          </div>
				          
				          <button type="submit" class="btn" id="logOut">Déconnexion</button>
                        </div>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>