<div class="span4">
  <div class="hero-unit">
  	<button class="btn btn-large" type="submit" id="btnAddCustomer">+</button>
  	<form class="form-search">
  	  <input type="text" class="input-medium search-query" id="inputSearch">
      <button type="submit" class="btn" id="btnSearchCustomer"><i class="icon-search"></i></button>	
      </form>
    <select id="selectCustomer" multiple="multiple">
      <option id="1">1</option>
      <option id="2">2</option>
      <option id="3">3</option>
      <option id="4">4</option>
    </select>
  </div>
</div>
<div id="dataCustomer" class="span5">
</div>