 <div class="row">
            <!-- first span -->
              <div class="span6">
                <h2>Chambre </h2>
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label" for="inputPrice1">Prix</label>
                    <div class="controls">
                      <input type="text" id="inputPrice1" placeholder="Prix">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputNbPerson1">Nombre de personnes</label>
                    <div class="controls">
                      <input type="text" id="inputNbPerson1" placeholder="Nombre de personnes">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputArea1">Superficie</label>
                    <div class="controls">
                      <input type="text" id="inputArea1" placeholder="Superficie">
                    </div>
                  </div>
                 </form>
               </div>
               
<hr/>
            
  <div class="row">
     <button type="submit" class="btn">Enregistrer</button>
  </div>