 <!-- Example row of columns -->
 <div align="center">
	<div class="hero-unit">
		<h4 class="selectRoom">Veuillez indiquer combien de chambres vous possédez  <span class="badge badge-important" data-toggle='tooltip' title='Obligatoire'>1</span></h4>

	    <div class="btn-group">
			<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
				 Nombre de chambres
			<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
    			<li>
 					<a href="#">1</a>
 				</li>
 				<li>
 					<a href="#">2</a>
 				</li>
 				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
			</ul>
		</div>
	</div>
 </div>
	<div id='maison'></div>
	<hr />
	<div>
		<div class="hero-unit" align="center">
		<h4>Veuillez indiquer les différentes prestations que votre maison d'hôte propose !  <span class="badge badge-info" data-toggle='tooltip' title='Optionnel'>2</span></h4>
		</div>
		<div class="row">
		  <div class="span2">
			<button class="btn btn-success" type="submit" id="btnAddServ"><i class='icon-plus icon-white'></i></button>
		  </div>
		  <div class="span8">
		    <div id="prestation"></div>
		  </div>
		</div>
	</div>
	
	<hr />
	
	 <div class='hero-unit' align='center'>   
	 	<h4>Spécifiez le % du montant de la transaction qui permettra de calculer les arrhres  <span class="badge badge-info" data-toggle='tooltip' title='Optionnel'>3</span></h4>     
        <p>(Ce pourcentage s'appliquera &agrave l'ensemble de vos chambres)</p>
        Arrhes :  <input class='input-small' id='arrhes' disabled='disabled'/> %
     </div>
     
	<hr />
	
	  <div style="margin-top:80px" align="center">
	 	<button type="submit" class="btn btn-primary" id="submit" disabled='disabled'>Enregistrer</button>
	  </div>