 <!-- Example row of columns -->
 <div align="center">
	<div class="hero-unit">
		<h3>Veuillez indiquer combien de chambre vous possédez</h3>
		
		
		    <div class="btn-group">
    			<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
   					 Nombre de chambre
    			<span class="caret"></span>
    			</a>
    			<ul class="dropdown-menu">
    				<li>
 						<a href="#" id="1">1</a>
 					</li>
 					<li>
 						<a href="#" id="2">2</a>
 					</li>
 					<li>
 						<a href="#" id="3">3</a>
 					</li>
 					<li>
 						<a href="#" id="4">4</a>
 					</li>
 					<li>
 						<a href="#" id="5">5</a>
 					</li>
    			</ul>
    		</div>
    	</div>
 	</div>
		           