 			<div class="row">
            <!-- first span -->
              <div class="span6">
                <h2>Prestation <%= id %></h2>
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label" for="inputName">Nom</label>
                    <div class="controls">
                      <input type="text" name="inputName" id="inputName<%= id %>" value="<%= name %>" placeholder="Nom">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputPrice">Prix</label>
                    <div class="controls">
                      <input type="text" name="inputPrice" id="inputPrice<%= id %>" value="<%= price %>" placeholder="Prix">
                    </div>
                  </div>
                 </form>
               </div>