   		<div class="row" id="rowPrestation<%= id %>">
            <!-- first span -->
            <div class="span6 offset3">
            	
            	<div class="row">
            	<center>
                <h2 id="serviceTitle">Prestation</h2>
                <a class="btn btn-danger" id="<%= id %>" data-id="<%= id %>" ><i class="icon-trash icon-white"></i></a>
                </center>
                <hr>
                </div>	
 
            <div class="row-fluid">
			  <div class="span12">
    			<form class="form-horizontal">
                  <div class="control-group">
                    <label id="titleService" class="control-label" for="inputTitleP">Intitulé *</label>
                    <div class="controls">
                      <input type="text" name="title<%= id %>" id="title<%= id %>" value="<%= title %>" placeholder="Intitulé">
                    </div>
                  </div>
                  <div class="control-group">
                    <label id="priceService" class="control-label" for="inputPriceP">Prix *</label>
                    <div class="controls">
                      <input type="text" name="price<%= id %>" id="price<%= id %>" value="<%= price %>" placeholder="Prix">
                    </div>
                  </div>
                  <div class="control-group">
                    <label id="commentService" class="control-label" for="inputCommentP">Commentaire</label>
                    <div class="controls">
                      <input type="text" name="comment" id="comment<%= id %>" value="<%= comment %>" placeholder="Commentaire">
                    </div>
                  </div>

                 </form>
               </div>
             </div>
           </div> 
          </div> 

             
